spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/factoryvision
    username: gaeul
    password: 1234

  jpa:
    hibernate:
#      ddl-auto: create
      ddl-auto: update
      dialect: org.hibernate.dialect.PostgreSQL14Dialect
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    open-in-view: true

  security:
    user:
      password: 1

  data:
    redis:
      port: 6379
      host: localhost
      timeout: 3000

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

logging.level:
  org.hibernate.SQL: debug

server:
  port: 8080

jwt:
  secretKey: c2lsdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQtc2lsdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQK

springdoc:
  default-consumes-media-type: application/json;charset=UTF-8
  default-produces-media-type: application/json;charset=UTF-8
  paths-to-match: /**
  swagger-ui:
    path: /
    display-request-duration: true
    groups-order: desc
    operations-sorter: alpha
    disable-swagger-default-url: true
  api-docs:
    groups:
      enabled: true

flask:
  url: "http://localhost:5002/upload_video"


